* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
}

/* body::after {
    content: " ";
    display: block;
    height: 1px;
    width: 200vw;
    background: red;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
}

* {
    outline: 1px solid red;
} */

:root {
    --bg-page: #fde6fb;
    --bg-white: #fef5fd;
    --bg-app: #ce39b6;
    --bg-border_app: #e2bed3;
    --bg-app-800: #872173;
    --color_app: #ce39b6;
    --color_text: #313131;
    --color_bg-nav2: #e451cf;
    --my-bg-position: 10% 90%;

    body {
        background-color: color-mix(in srgb, var(--bg-page) 90%, #fff 10%);
    }
}

.dark {
    --bg-page: #2c2129;
    --bg-border_app: #2c2129;
    --color_text: #ffffffe1;
    --dark-block: color-mix(in oklab, var(--bg-app) 40%, #000 60%);

    body {
        background-color: color-mix(in srgb, var(--bg-page) 80%, black 20%);
    }
}

body {
    font-family: "Proxima Soft", "Proxima Nova Soft", "Poppins", Helvetica, "Consolas", Arial, sans-serif !important;
    /* overflow-x: hidden; */
    /* background-color: color-mix(in srgb, var(--bg-page) 80%, black 20%); */
    /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url('../img/bg_whole.jpg') center center fixed repeat; */
}

.max-h-modal {
    max-height: 90vh;
}

/* body::before {
    content: '';
    position: fixed;
    inset: 0;
    background-image: url('../img/shop-solid.svg');
    background-size: cover;
    background-position: center;
    background-color: #fafafa;
    background-repeat: space;
    background-size: contain;
    opacity: 0.05;
    z-index: -1;
} */

.btn-trans {
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transition-duration: 300ms;
    /* transition-timing-function: ease-out; */
}

.btn {
    background-image: linear-gradient(45deg, #df4881, #c430d7);
    padding: 10px 80px;
    text-decoration: none;
    color: #ce39b6;
    font-size: 16px;
    font-weight: 600;
    border-radius: 30px;
    outline: none;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s ease-out .7s ease-out;
    background: #232949;
}

.btn:hover {
    background-image: linear-gradient(-45deg, #a12555, #821691);
    background: #5b78c7;
    color: #fff;
}

/* 
.logo {
    height: 100%;
    width: 200px;
    text-align: end;
    padding: 20px;
    position: relative;
}

.logo img {
    height: 60px;
    width: 100px;
    position: absolute;
    top: 10%;
    left: -5px;
    transform: translateY(-10%);
}

.logo a {
    padding: 15px;
    width: 100%;
    height: 100%;
    color: #ce39b6;
} */

.cart-price {
    background-image: linear-gradient(45deg, #df4881, #c430d7);
}

.cart:hover {
    color: #fff;
}

.cart:hover>a,
.cart:hover>svg {
    color: inherit;
}

.logo {
    display: inline-block;
    height: min-content;
}

.logo a {
    display: flex;
    align-items: center;
    color: inherit;
    text-decoration: none;
}

.logo img {
    width: 60px;
    height: 50px;
    border-radius: 4px;
}

/* nav {
    height: 10vh;
    display: flex;
    flex-direction: row;
}

nav a {
    color: #333;
    text-decoration: none;
    font-size: 16px;
}

nav .nav-link {
    display: flex;
    list-style: none;
    height: 100%;
    margin-left: auto;
    margin-right: 5px;
    text-transform: capitalize;
    z-index: 10;
}

nav .nav-link li a,
nav .nav-link li button {
    padding: 15px 15px;
    color: #ce39b6;
    display: inline-block;
    background-color: #fff;
    margin: 0 0.2rem;
    border-top: 3px solid transparent;
    border-radius: 0 0 4px 4px;
    z-index: 8 !important;
    box-shadow: 0 0 5px 0 rgb(48 39 39 / 22%);
}

.dark nav .nav-link li a,
.dark nav .nav-link li button {
    background-color: var(--bg-app-800);
    color: #fff;
}

nav .nav-link li a,
.nav-trans {
    transition: background-color 0.2s ease-in-out;
}

nav .nav-link li a:hover {
    color: #fff;
    transition: background-color 0.3s ease-in-out;
    background-color: #ce39b6;
    border-top: 5px solid #f7b0ef;
}

nav .nav-link li a.active {
    border-top: 5px solid #f7b0ef;
    background-color: #a5268e;
    color: #fff;
    padding-top: 1.3rem;
    cursor: default;
} */

.Main {
    display: flex;
    flex-direction: column;
    width: 95%;
    /* align-items: center; */
    margin: 0 auto;
    text-align: center;
}

/* .Main h1,
.Main h2 {
    color: #222;
    text-align: center;
}

.Main h1 {
    font-size: 40px;
} */

/* 
.hT {
    text-align: center;
    width: 70%;
    min-width: 350px;
    margin: 0 auto;
    color: #333;
}

.articles {
    width: 100%;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
}

.articlesH {
    font-size: 32px;
    width: 35%;
    min-width: 350px;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 5px solid #000;
    margin: 40px auto 0;
    cursor: default;
} */

/* .article {
    position: relative;
    width: 296px;
    height: min-content;
    display: flex;
    flex-direction: column;
    margin: 10px;
    font-size: 17px; */
/* justify-content: space-between; */
/* border-radius: 15px; */
/* box-shadow: 0 0 10px #999;
}

.article .art_H {
    position: relative;
    width: 100%;
    height: 240px;
    border-radius: 15px;
}

.article .art_H::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: transparent;
    box-shadow: -10px 10px 0 #fafafa;
}

.article .art_H::after {
    content: '';
    position: absolute;
    bottom: 40px;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: transparent;
    box-shadow: -10px 10px 0 #fafafa;
}

.article .art_H img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border-bottom-right-radius: 0;
}

.article .art_D {
    position: relative;
    width: 100%;
    height: 210px;
    height: min-content;
    color: #fff;
    background-color: #232949;
    border-radius: 0 0 15px 15px;
    padding: 15px 20px 15px 20px;
}

.article .title .merch {
    font-weight: 500;
    font-size: 25px;
}

.art_D .title .price {
    position: absolute;
    font-size: 15px;
    top: -50px;
    left: 0;
    width: 50%;
    height: 50px;
    color: #000;
    background-color: #232949;
    letter-spacing: 1px;
    border-top: 10px solid #fafafa;
    border-right: 10px solid #fafafa;
    border-top-right-radius: 15px;
}

.art_D .title .price span {
    padding: 5px 10px;
    padding: 15px 5px;
    background-color: #fff;
    border-radius: 10px;
    border-top-left-radius: 0;
    display: block;
    width: 150px;
    height: 35px;
    margin: 0 4px;
    margin-top: 7px;
}

.art_D .title .price::before {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: transparent;
    box-shadow: -10px -10px 0 #fafafa;
}

.art_D .title .price::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: -25px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: transparent;
    box-shadow: -10px 10px 0 -5px #232949;
}

.lnd_add {
    text-align: center;
    margin-top: 20px;
}

.inpt-f {
    padding: 15px 30px;
    border-radius: 5px;
    outline: none;
    border: none;
    box-shadow: 0 0 3px rgb(0 0 0 / 56%);
    background-color: #edf1ef;
}

.confirm {
    background-image: linear-gradient(45deg, #df4881, #c430d7);
    text-decoration: none;
    color: #ce39b6;
    font-size: 14px;
    border: none;
    cursor: pointer;
    transition: all .3s ease-in-out;
    padding: 15px 40px;
    background: #232949;
    border-radius: 30px;
}

.confirm:hover {
    background-color: #5b78c7;
    color: #fff;
}

.slct {
    border: none;
    appearance: none;
    padding: 11px 10px;
    background-color: #edf1ef;
    box-shadow: 0 0 3px rgb(0 0 0 / 40%);
    font-size: 16px;
    margin: 0 5px;
    outline: none;
    transition: all 0.3s ease-in-out;
}

input[type="number"].inpt-f {
    max-width: 200px;
}

.artV {
    margin-top: 20px;
}

.artV span {
    color: #df4881;
} */

.search select option {
    background-color: #863980ed;
    background: #232949;
    color: hsl(0, 0%, 100%);
}

.pagination {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
    margin-bottom: 1rem;
}

.pagination a {
    display: inline-block;
    padding: 7px 15px;
    /* box-shadow: 0 0 1px rgb(30, 30, 36); */
    text-decoration: none;
    transition: 0.3s ease-out;
    background-color: var(--bg-white);
    border-radius: 8px;
    border: 1px solid var(--bg-border_app);
    min-width: 50px;
    text-align: center;
}

.dark .pagination a {
    background-color: #6f205e;
    color: #ffffffe1;
}

.dark .pagination .active a {
    background-color: var(--bg-app);
    color: #ffffffe1;
}

.pagination a:hover {
    background-color: var(--bg-app);
    color: #fff;
}

.pagination .active a {
    box-shadow: none;
    cursor: text;
    background-color: #6f205e;
    color: #fff;
    cursor: default;
}

.pagination .disabled a {
    border: none;
}

.pagination .disabled a:hover {
    color: var(--color_text);
    background: none;
}

.pagination strong {
    margin: 10px;
}

/*
.articles {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.article {
    width: 300px;
    margin: 0 10px 10px;
    border-radius: 5px;
    box-shadow: 0 0 8px rgb(153, 153, 153);
}
.article img {
    width: 300px;
    height: 250px;
    border-radius: 5px 5px 0 0;
}

.art_D {
    background-color: #fff;
    padding: 20px 10px 30px 10px;
    border-radius: 0 0 5px 5px;
}
.merch.lbl {
    color: grey;
}
*/
.merch a {
    color: #ce39b6;
    text-decoration: none;
    text-align: right;
    display: block;
}

.merch a:hover {
    text-decoration: underline;
}

.lbl {
    color: #c4c4c4;
}

.about {
    background: #fef5fd;
    width: 95%;
    margin: 0 auto;
    border-radius: 10px;
    /* margin-top: 30px; */
    /* max-width: 800px; */
    /* box-shadow: 0 0 1px rgba(0, 0, 0, 0.2); */
}

.modal-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    will-change: opacity;

    /* Style général pour Chrome, Safari, Edge */
    ::-webkit-scrollbar {
        width: 6px;
        /* Fine */
        height: 6px;
    }

    ::-webkit-scrollbar-track {
        background: transparent;
        /* Fond invisible */
    }

    ::-webkit-scrollbar-thumb {
        background-color: rgba(100, 100, 100, 0.5);
        /* Curseur gris clair transparent */
        border-radius: 10px;
        /* Bords arrondis */
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: rgba(100, 100, 100, 0.6);
        /* Curseur plus foncé au survol */
    }

    /* Firefox */
    * {
        scrollbar-width: 6px;
        /* Barre fine */
        scrollbar-color: rgba(100, 100, 100, 0.5) transparent;
        /* Curseur gris clair */
    }
}


::-webkit-file-upload-button {
    color: #fef5fd;
    background: #aa6289;
    box-sizing: border-box;
    padding: 10px 20px;
    margin: 2px;
    margin-right: 15px;
    border-radius: 8px;
    border: transparent;
    box-shadow: 0 1px 1px #6b4559;
    outline: none;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

/* .dark ::-webkit-file-upload-button {
    color: ;
} */

::-webkit-file-upload-button:hover,
:hover>::-webkit-file-upload-button {
    background: #438a5e;
    color: #fff;
}

/* 
span.green {
    color: #6ac76a;
}

span.red {
    color: #e27c7c;
} */

.animZ {
    opacity: 0;
    transform: scale(0);
    animation: moveUp3 0.7s linear forwards;
}

.animT {
    opacity: 0;
    animation: moveUp1 0.7s linear forwards;
}

.animO {
    opacity: 0;
    transform: translateY(30px);
    animation: moveUp2 .3s linear forwards;
}

.banner_home {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(39, 18, 35, 0.9)), url('../img/default_banner_home.jpg') center center fixed no-repeat;
    background-size: cover;
    height: calc(100vh - 60px);
}

.banner_trader {
    background: linear-gradient(rgb(0 0 0 / 80%), rgb(0 0 0 / 94%)), url('../img/banner_trader.jpg') center center fixed no-repeat;
    background-size: cover;
    /* backdrop-filter: blur(20px); */
}

.btn-trade {
    background: linear-gradient(45deg, #95395c, #95449f);
}

.btn-trade:hover {
    background: linear-gradient(-45deg, #df4881, #c430d7);
}

/* footer {}

footer>div {
    display: grid;
    grid-template-columns: 1fr 2fr;
} */

@keyframes moveUp1 {
    100% {
        opacity: 1;
    }
}

@keyframes moveUp2 {
    100% {
        opacity: 1;
        transform: translateY(30px);
    }
}

@keyframes moveUp3 {
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.menu {
    position: absolute;
    cursor: pointer;
    right: 1rem;
    top: 0.75rem;
    /* transform: translate(-5%, -50%); */
    z-index: 10;
    background: #ce39b6;
    padding: 4px 6px;
    z-index: 999;
    pointer-events: none;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    width: 3rem;
    height: 3rem;
}

.menu div {
    width: 100%;
    height: 0.4rem;
    background: #fff;
    border-radius: 0.2rem;
}

.footer_body ul li:nth-child(1) {
    margin-bottom: 20px;
}

.footer_body ul li:not(:nth-child(1)) {
    display: flex;
    flex: start;
    padding: 10px;
    color: var(--color_text);
}

.footer_body ul li a,
.footer_body ul li button {
    display: flex;
    align-items: center;
    gap: 4px;
    transition: 0.1s ease-in all;
    /* font-size: smaller; */
}

.footer_body ul li a:hover,
.footer_body ul li button:hover {
    color: var(--color_app);
}

.modal-content {
    max-height: calc(90vh - 130px);
    overflow: auto;
}

.modal-Sidebar {
    position: absolute;
    top: 0;
    right: 0;
    /* padding: 3rem; */
    padding-top: 2rem;
    padding-left: 0px;
    /* width: 20rem; */
    height: 100%;
    text-transform: capitalize;
}

.modal-Sidebar ul li a,
.modal-Sidebar ul li button {
    display: flex;
    /* border-radius: 0 8px 8px 0; */
    width: 100%;
    gap: 0.5rem;
    padding: 10px 3rem;
    margin: 0.25rem 0;
    box-shadow: none;
    transition: ease-in-out .2s all;
}

.modal-Sidebar ul li a:hover,
.modal-Sidebar ul li button:hover {
    background-color: var(--color_bg-nav2);
    padding-left: 30px;
    color: #ffffffe7;
}

.modal-Sidebar ul li a.active {
    background-color: var(--bg-app-800);
    /* padding-left: 30px; */
    color: #ffffffe7;
}



.dark .modal-parent {
    background-color: var(--dark-blockD);
}

/* .dark .cart-header {
    background-color: color-mix(in oklab, #ce39b6 60%, #000 40%);
    color: #fff !important;
} */

@media screen and (max-width: 820px) {
    .menu {
        display: flex;
    }
}

/* @media screen and (max-width: 820px) {

    .confirm,
    .slct {
        margin-top: 5px;
    }

    .Main {
        width: 100%;
    }

    .Cform .inpt {
        margin-bottom: 85px;
    }

    .about {
        flex-direction: column;
    }

    nav a.active {
        border: none;
    }

    .Main h2 {
        max-width: 95%;
    }

    .logo img {
        width: 90px;
        height: 60px;
    }

    .logo a span {
        display: none;
    }

    .nav-link {
        background: #5b78c7;
        height: 100vh;
        width: 100%;
        top: 0;
        left: 0;
        flex-direction: column;
        justify-content: space-evenly;
        -webkit-clip-path: circle(100px at 90% -20%);
        clip-path: circle(100px at 120% -20%);
        transition: all 0.7s ease-out;
        pointer-events: none;
        color: #fff;
        z-index: 99;
    }

    .nav-link li a,
    .nav-link li button {
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        font-size: 25px;
        color: #333 !important;
        background-color: #5b78c7 !important;
        text-align: center;
        z-index: 10;
    }

    .nav-link li {
        width: 100%;
        height: 20%;
        color: #fff;
        transition: all 0.5s ease 0.4s;
    }

    /* .nav-link.open {
        -webkit-clip-path: circle(1000px at 100% -20%);
        clip-path: circle(1000px at 100% -20%);
        pointer-events: all;
    } */

/* .etc.open {
            background: #5b78c7;
        } */

/* .line.open {
        background: #fff;
    } 

nav .nav-link li a:hover {
    border: none;
    color: #fff !important;
}

/* li.fade {
        opacity: 1;
    } 
}

*/